@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body{
    background-image: url(./images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
}

  .faq-container{
    max-width: 500px;
    margin: 150px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    color: hsl(292, 42%, 14%);
  }

  .faq-main{
    margin: 5px 5px;
    padding: 10px;
  }

  .faq-main h1{
    color: hsl(292, 42%, 14%);
  }
  

  .question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 10px;
    border-bottom: 1px solid hsl(275, 100%, 97%);
  }

  .question p{
    font-family: Work Sans;
    color:hsl(292, 42%, 14%);
    font-size: 16px;
    font-weight: 700;
  }

  .answer{
    margin: 5px 25px;
    padding: 5px;
    display: none;
  }

  .answer p{
    font-family: Work Sans;
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    font-weight: 700;
  }

 
